# Community projects
numpy
einops
pytest
tqdm

# Dataset dependencies
build
git-python
paramiko
pandas

# Meta products
torch
schedulefree

# HuggingFace products
huggingface_hub[cli]
datasets

# Microsoft products
deepspeed

# OpenAI products
tiktoken

# Weights & Biases
wandb
