# Community projects
numpy
einops
pytest
flash-attn
tqdm

# Meta products
torch
schedulefree

# HuggingFace products
huggingface_hub[cli]
datasets

# Microsoft products
deepspeed

# OpenAI products
tiktoken

# Weights & Biases
wandb
