# Community projects
numpy
einops
pytest
tqdm
flash_attn
pyyaml

# Dataset dependencies
build
git-python
pyarrow

# Meta products
torch
schedulefree

# Microsoft products
deepspeed

# OpenAI products
tiktoken

# Weights & Biases
wandb
